.footer-image-container {
  display: flex;
  justify-content: center;
  height: 64px;
  background-color:#F7AE4E;
  padding: 20px;
}

.footer-icons {
  max-height: 50px;
  max-width: 50px;
  margin: auto 5px;
}