.header-image-container {
  background-color: #F7AE4E;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  box-shadow: 5px 10px 18px #888888;
  position: relative;
}

.header-icons {
  max-width: 50px;
  max-height: 50px;
  margin: auto 10px auto 0;
}

.header-icons-home-link {
  margin: auto 0;
}

.header-icons-home-image {
  max-height:80px;
}

.header-name-and-icons {
  display: flex;
  justify-content: space-between;
}

.header-name-and-icons > p {
  margin: 10px;
}

.header-menu-icons {
  max-width: 20px;
  max-height: 20px;
  margin: auto 5px;
}

.header-menu-links {
  text-decoration: none;
  color: #2D4357;
  font-size: 20px;
}

.header-dropdown-menu {
  background-color: #C4C4C4;
  box-shadow: 5px 10px 18px #888888;
  padding: 10px 5px;
  position: absolute;
  right: 10px;
  top: 110%;
}

.header-hide-dropdown {
  display: none;
}