.artist-page-container {
  padding-bottom: 50px;
}

em {
  font-weight: 100;
  font-weight: lighter;
  color: grey;
}

.artist-title {
  color: #888888
}

.artist-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-page-website {
  color: #888888;
  margin-right: 50px;
  font-size: 25px;
}

.artist-website-email-container { 
  display: flex;
  justify-content: center;
}