.edit-form-container {
  display: flex;
  flex-direction: column;
}

.edit-logo-container {
  margin-bottom: 20px;
}

.edit-submit-button {
  background-color: #F7AE4E;
  color: #2D4357;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #F7AE4E;
  box-shadow: 5px 10px 18px #888888;
  margin: 50px 120px;
}

.edit-form {
  margin: 0 50px 20px 50px;
  border: 1px white; 
  padding: 10px;
  border-radius: 30px;
}

::placeholder {
  color: #888888;
  font-size: 18px;
}
.edit-form-select {
  margin: 0 50px 20px 50px;
}

.edit-form-select > div > div {
  border-radius: 30px;
  border: 1px white; 
}