.login-form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.login-logo-container {
  margin-bottom: 20px;
}

.login-submit-button {
  background-color: #F7AE4E;
  color: #2D4357;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #F7AE4E;
  box-shadow: 5px 10px 18px #888888;
  margin: 0 120px 75px 120px;
}

.login-form {
  margin: 0 50px 20px 50px;
  border: 1px white; 
  padding: 10px;
  border-radius: 30px;
  
}

::placeholder {
  color: #888888;
  font-size: 18px;
}


@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .login-form-container  {
      width: 40%;
      margin: 0 auto;
    }

    .login-form-container > input {
      width: 50%;
      margin: 13px auto;
    }

    .login-submit-button  {
      margin: 20px auto 0 auto;
      min-width: 130px;
      width: 20%;
    }

    .login-container {
      height: 79vh;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
    .login-form-container  {
      width: 70%;
      margin: 0 auto;
    }

    .login-submit-button  {
      margin: 20px auto 25px auto;
      min-width: 130px;
      width: 20%;
    }

    .login-container {
      height: 79vh;
    }
    
}