.product-container {
  height: 275px;
  width: 150px;
  background-color: whitesmoke;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 5px 8px #888888;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.product-image-container {
  height: 100px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-info {
  color: #888888;
  font-size: 15px;
  text-align: left;
}

.product-info > p {
  margin: 5px;
}

.product-more-details-link {
  color: #888888;
  text-decoration: none;
}
