.product-details-container {
  width: 80%;
  margin: 0 auto;
}

.product-details-title {
  color: #888888;
  font-size: 30px;
  font-weight: 300;

}

.product-details-image {
  max-width: 100%;
  box-shadow: 5px 10px 18px #888888;
}

.product-details-info {
  color: #888888;
  font-size: 22px;
  text-align: justify;
}

.product-details-submit-button {
  background-color: #F7AE4E;
  color: #2D4357;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #F7AE4E;
  box-shadow: 5px 10px 18px #888888;
  margin: 40px
}